[submodule "Example/Manual"]
	path = Example/Manual
	url = git://git.typo3.org/Documentation/TYPO3/Example/Manual.git
[submodule "Guide/Administrators"]
	path = Guide/Administrators
	url = git://git.typo3.org/Documentation/TYPO3/Guide/Administrators.git
[submodule "Guide/FrontendLocalization"]
	path = Guide/FrontendLocalization
	url = git://git.typo3.org/Documentation/TYPO3/Guide/FrontendLocalization.git
[submodule "Guide/Installation"]
	path = Guide/Installation
	url = git://git.typo3.org/Documentation/TYPO3/Guide/Installation.git
[submodule "Guide/Security"]
	path = Guide/Security
	url = git://git.typo3.org/Documentation/TYPO3/Guide/Security.git
[submodule "Reference/CodingGuidelines"]
	path = Reference/CodingGuidelines
	url = git://git.typo3.org/Documentation/TYPO3/Reference/CodingGuidelines.git
[submodule "Reference/CoreApi"]
	path = Reference/CoreApi
	url = git://git.typo3.org/Documentation/TYPO3/Reference/CoreApi.git
[submodule "Reference/FileAbstractionLayer"]
	path = Reference/FileAbstractionLayer
	url = git://git.typo3.org/Documentation/TYPO3/Reference/FileAbstractionLayer.git
[submodule "Reference/InsideTypo3"]
	path = Reference/InsideTypo3
	url = git://git.typo3.org/Documentation/TYPO3/Reference/InsideTypo3.git
[submodule "Reference/Skinning"]
	path = Reference/Skinning
	url = git://git.typo3.org/Documentation/TYPO3/Reference/Skinning.git
[submodule "Reference/Tca"]
	path = Reference/Tca
	url = git://git.typo3.org/Documentation/TYPO3/Reference/Tca.git
[submodule "Reference/Tsconfig"]
	path = Reference/Tsconfig
	url = git://git.typo3.org/Documentation/TYPO3/Reference/Tsconfig.git
[submodule "Reference/Typo3Services"]
	path = Reference/Typo3Services
	url = git://git.typo3.org/Documentation/TYPO3/Reference/Typo3Services.git
[submodule "Reference/Typoscript"]
	path = Reference/Typoscript
	url = git://git.typo3.org/Documentation/TYPO3/Reference/Typoscript.git
[submodule "Reference/TyposcriptSyntax"]
	path = Reference/TyposcriptSyntax
	url = git://git.typo3.org/Documentation/TYPO3/Reference/TyposcriptSyntax.git
[submodule "Tutorial/Editors"]
	path = Tutorial/Editors
	url = git://git.typo3.org/Documentation/TYPO3/Tutorial/Editors.git
[submodule "Tutorial/GettingStarted"]
	path = Tutorial/GettingStarted
	url = git://git.typo3.org/Documentation/TYPO3/Tutorial/GettingStarted.git
[submodule "Tutorial/Templating"]
	path = Tutorial/Templating
	url = git://git.typo3.org/Documentation/TYPO3/Tutorial/Templating.git
[submodule "Tutorial/Typoscript45Minutes"]
	path = Tutorial/Typoscript45Minutes
	url = git://git.typo3.org/Documentation/TYPO3/Tutorial/Typoscript45Minutes.git
